* {
    box-sizing: border-box;
}

html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


ul {
    margin: 0;
    padding: 0;
}

p {
    margin: 0.4em;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: small;
}

.QueryContainer {
    display: flex;
    justify-content: space-around;
    height: 250px;
    align-items: stretch;
}
.QueryContainer > * {
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
}
.QueryEditor {
    display: flex;
}
.QueryEditor > * {
}

.QueryEditor > textarea {
    width: 100%;
}

.QueryResults {
    overflow: scroll;
}

.QueryResults > textarea {
    width: 100%;
    height: 100%;
}

.EditorContainer {
    background: #e4e4e4;
    padding: 0.5em;
}
.EditorContainer > * {
    margin-bottom: 0.5em;
}
.EditorContainer > *:last-child {
    margin-bottom: 0;
}
.WorkspaceEditor {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    background: #fafafa;
    border-radius: 3px;
}
.WorkspaceEditor > * {
    margin: 0.4em;
    padding: 0.4em;
}

.EntityList {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    flex-direction: row-reverse;
}

.EntityList > * {
    margin: 0.4em;
    padding: 0 0.3em;
    background: #f2f2f2;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid darkgrey;
}

.EntityList .selected {
    background: #64ff7a;
}

.EntityList .locked {
    background: #fffa00;
    transition: all ease-out 1s;
}

.EntityListControls {
    text-align: center;
    flex-basis: 100px;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0;
    padding: 0.8em;
    align-self: stretch;
    background: white;
}

.EntityListControls > * {
    margin-top: 0.8em;
    width: 100%;
}

.EntityListControls > *:first-child {
    font-size: 23px;
    margin: 0.2em 0;
    font-family: monospace;
}

.EntityEditor {
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;
    align-self: stretch;
    padding: 0.8em;
    margin: 0;
    background: #f6f6f6;
}

.EntityEditor > p {
    display: block;
    margin-bottom: 1em;
    color: #787878;
    font-family: monospace;
}

.EntityEditor > div:last-child {
    display: flex;
    justify-content: space-around;
    padding: 1.5em 0 0.5em 0;
}

.EntityProperties > div {
    display: flex;
    margin-top: 0.5em;
}

.EntityProperties > div > *:last-child {
    align-self: center;
    margin-left: 1em;
    font-size: smaller;
}

.EntityProperties > div > *:first-child {
    flex-grow: 1;
    text-align: left;
    padding: 0.2em;
    margin: 0.1em;
    border: 0;
    border-bottom: 1px dotted lightgrey;
}